<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar-mobile flex" th:fragment="navbarMobile">
    <div class="logo-container-mobile flex">
      <div class="image-container">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <p>HowNowBrownCow</p>
    </div>
    <div id="link-container-mobile">
      <ul>
        <li><a href="#">To Do List</a></li>
        <li><a href="#">Add New Task</a></li>
      </ul>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="navToggle()">
      <i class="fa fa-bars"></i>
    </a>
  </nav>
  <nav class="navbar-desktop flex" th:fragment="navbarDesktop">
    <div class="logo-container-desktop flex">
      <div class="image-container">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <p>HowNowBrownCow</p>
    </div>
    <div id="link-container-desktop">
      <ul class="flex">
        <li><a href="#">To Do List</a></li>
        <li><a href="#">Add New Task</a></li>
        <li><button href="#" class="button-a">Log In</button></li>
      </ul>
    </div>
  </nav>
</body>
</html>